<form [formGroup]="formContribuinte" role="form" (submit)="submterContribuinte($event.value)">
      <legend>Contribuinte</legend>

      <div class="form-group">
        <label for="id">Identificador:</label>
        <input type="number" class="form-control" id="id" placeholder="Digite o identificador" formControlName="id">
      </div>

      <div class="form-group">
        <label for="ni">NI:</label>
        <input type="text" class="form-control" id="ni" placeholder="Digite o NI"  formControlName="ni">
      </div>

      <div class="form-group">
        <label for="nome">Nome:</label>
        <input type="text" class="form-control" id="nome" placeholder="Digite o Nome"  formControlName="nome">
      </div>

      <button [disabled]="formContribuinte.invalid" type="submit" class="btn btn-primary">Salvar</button>
    </form>
